NEXT_PUBLIC_SITE_URL=https://alred.es

NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_CLARITY_ID=XXXXXXXXXX

CONTACT_SMTP_USER=tu-correo@gmail.com
CONTACT_SMTP_APP_PASSWORD=contraseña-de-aplicacion
CONTACT_TO_EMAIL=destino@gmail.com